{% extends "base.html" %}

{% block body %}

{% include "auth_table.html" %}


{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $("td").hover(
              function () {
                $(this).addClass("scroll");
              },
              function () {
                $(this).removeClass("scroll");
              }
            );
    $('th').on('click', function() {
        var cls = $(this).prop('className');
        console.log(cls);
        debugger;
        $.ajax({
            'method': 'GET',  // defaults to GET. Set POST if you like, but be aware of the CSRF token submission too!
            'url': '/sortedRequest/',  // submit to the same url
            'data': {'field': cls},  // pass here any data to the server. You can omit it.
            success: function(sortedResponse) {
                // This function will run when server returns data
                $('.sortable').replaceWith(sortedResponse);
                toastr.success("Filter applied");

            }
        });
    });
});
    </script>
{% endblock %}