{% extends "base.html" %}

{% block body %}

{% include "auth_table.html" %}


{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $("td").hover(
              function () {
                $(this).addClass("scroll");
              },
              function () {
                $(this).removeClass("scroll");
              }
            );
    $('th').on('click', function() {
        debugger;
        $.ajax({
            'method': 'GET',  // defaults to GET. Set POST if you like, but be aware of the CSRF token submission too!
            'url': '.',  // submit to the same url
            'data': {},  // pass here any data to the server. You can omit it.
            success: function(dataReturned) {
                // This function will run when server returns data
                $('#my-placeholder').replaceWith(dataReturned);
            }
        });
    });
});
    </script>
{% endblock %}