{% include 'head.html' %}

<div class="container-fluid">
{#    <table id="example" class="sortable" cellspacing="0" width="100%">#}
    <table class="sortable">
      <thead>
		<tr>
			<th class="id">ID</th>
			<th class="session">Session</th>
			<th class="success">Success</th>
			<th class="username">UserName</th>
			<th class="password">Password</th>
			<th class="timestamp">TimeStamp</th>
			<th class="ip">IP</th>
		</tr>
	  </thead>
	<tbody>
		{% for val  in auth_data %}
		<tr>
			<td>{{val.id}}</td>
			<td>{{val.session}}</td>
			<td>{{val.success}}</td>
			<td>{{val.username}}</td>
			<td>{{val.password}}</td>
			<td>{{val.timestamp}}</td>
			<td>{{ val.get_ip_from_session }} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

