{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Honeypot</title>

<!-- Core CSS - Include with every page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}" />
    <link href="{% static 'css/table.css' %}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<p class="navbar-text">
 			<a class="navbar-brand navbar-link" href="/">Honeypot</a>
		</p>

         <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hey, {{ user.username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/auth">Authentication Table</a></li>
                    <li><a href="/input">Input Table</a></li>
                    <li><a href="/client">Client Table</a></li>
                    <li><a href="/sensor">Sensor Table</a></li>
                    <li><a href="/session">Session Table</a></li>
                    <li><a href="/downloads">Downloads Table</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="navbar-link" href="/password_change">Change Password</a></li>
                    <li><a class="navbar-link" href="/logout">Logout</a></li>
                  </ul>
                </li>
            </ul>
	</div>
    {% block navbar %}{% endblock %}
</nav>

{% block body %}
{% endblock %}

{% block javascript %}
<!-- Core Scripts - Include with every page -->

    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>

{#    <script type="text/javascript" src= "{% static 'js/sortTable.js' %}"></script>#}

{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $("td").hover(
              function () {
                $(this).addClass("scroll");
              },
              function () {
                $(this).removeClass("scroll");
              }
            );
        });

    </script>
{% endblock %}

</body>

</html>
