<style>
    .breadcrumb>li+li:before { padding: 0 5px; color: #ccc; content: " | "; }
</style>
{% block navbar %}
    <div class="btn-group btn-group-justified" role="group">
        <ol class="nav nav-pills nav-justified">
            <li role="presentation"><a href="/auth">Authentication Table</a></li>
            <li role="presentation"><a href="/input">Input Table</a></li>
            <li role="presentation"><a href="/client">Client Table</a></li>
            <li role="presentation"><a href="/sensor">Sensor Table</a></li>
            <li role="presentation"><a href="/session">Session Table</a></li>
            <li role="presentation"><a href="/downloads">Downloads Table</a></li>
        </ol>
    </div>
{% endblock %}