{% include 'head.html' %}
<div class="tbl-header">
    <table id="example" class="sortable" cellpadding="0" cellspacing="0" border="0">
      <thead>
		<tr>
			<th>ID</th>
			<th>Start_Time</th>
			<th>End_Time</th>
			<th>Sensor</th>
			<th>IP</th>
			<th>Term_Size</th>
			<th>Client</th>
		</tr>
	  </thead>
	<tbody>
	{% for val in session_data %}
		<tr>
			<td>{{val.id}}</td>
			<td>{{val.starttime}}</td>  
			<td>{{val.endtime}}</td>
			<td>{{val.sensor}}</td>
			<td>{{val.ip}}</td>
			<td>{{val.termsize}}</td>
			<td>{{val.client}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
